.card {
    width: 280px;
    height: 280px;
    /*margin-top: 1rem;
    margin-left: 1rem;*/

    padding: 10px 60px;
    color:white;
    background-color: gray;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 250ms;

    overflow: hidden;

    border-style:solid;
    border-radius: 5px;
}

.card:hover {
    background-color: rgb(158, 158, 158);
}

.read { 
    background-color: #849C87;
}

.read:hover { 
    background-color: #9dbba1
}

.card-header { 
    margin-bottom: 0.5rem;
}

.card-header h2 {
    font-size: 16px;
    text-align: center;
    color: whitesmoke;
}

.card img {
    pointer-events: none;
    user-select: none;
}

.card h3 {
    font-size: 14px;

    margin-top: 0.5rem;
}



.card-header {
    display:inline-block;
}

.card-bottom {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
    margin-top: 1rem;
}

.card-bottom button {
    width: 32px;
    height: 32px;
    margin: 0;
    /*z-index: 1;*/
    border-style: none;
    border-radius: 5px;

    cursor: pointer;
}