.form-wrapper {
    width: 100%;
    padding: 1rem;
    height: fit-content;
    display: flex;
    background-color: #EEEEEE;
    position: relative;
    overflow: auto;
    z-index: 1;

    flex-direction: column;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input[type="submit"] {
    width: fit-content;
    margin: 0 auto;
}

form input[type="text"] {
    border: none;
    border-radius: 5px;
    background-color: rgb(199, 199, 199);
    text-align: center;
}

form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    appearance: none;

    border: none;
    border-radius: 5px;
    background-color: rgb(199, 199, 199);
}

form input[type="checkbox"]:checked {
    background-color:rgb(72, 105, 72);
}

form label { 
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

label input {
    margin-top: 0.2rem;
}